@import "src/assets/styles/basecolor.scss";
button{
  border:none;
  outline:none;
  background-color: transparent;
}

.modal-body{
  height:100vh;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  background-color: #00000070;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container{
  background-color: #fff;
  padding:20px;
  min-width: 500px;
  width:600px;
}

.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

.modal-header h3{
  font-size: 16px;
  font-weight: 600;
  //color:var(--theme);
}

.table ul{
  display: flex;
  align-items: center;
  width:100%;
  border-bottom: 1px solid #e2e2e2;
}
.table ul li{
  list-style: none;
  padding:13px 0;
}
.table ul li:nth-child(1){
  width:12%;
  margin-right: 3%;
  text-align: center;
}
.table ul li:nth-child(3){
  width:15%;
  text-align: center;
}
.table ul li:nth-child(2){
  width:35%;
}
.table ul li:nth-child(4){
  width:35%;
  text-align: center;
}

.table .tableHeader li{
  font-size: 13px;
  font-weight: 500;
  color:#AAABB3;
}

.table .tableBody li{
  font-size: 15px;
  font-weight: 400;
  color:#2B2D42;
}
.table .tableBody li:nth-child(2){
  //color:var(--theme);
  position: relative;
}
.table .tableBody li:nth-child(2):after{
  content:'';
  position: absolute;
  right:25px;
  top:15px;
  //background-image: url(downarrow.svg);
  width:15px;
  height:15px;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.tableBody .subTable ul{
  border:none
}
.tableBody .subTable ul:last-child{
  border-bottom: 1px solid #e2e2e2;
}

.tableBody .subTable ul li:nth-child(3){
  text-align: center;
  text-align: -webkit-center;
}
.tableBody .subTable ul li:first-child{
  padding-left:20px;
}
.tableBody .subTable ul li:after{
  display: none;
}
.tableBody .subTable ul li{
  font-size: 13px;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:30px
}

.btns .btnOutline, .btns .btnFill{
  border: 1px solid var(--theme);
//  box-shadow: 0px 5px 6px rgb(17 106 231 / 16%);
  border-radius: 3px;
  padding: 7px 22px;
  font-size: 18px;
  font-weight: 500;
  color: var(--theme);
  transition: all ease 0.4s;
}
.btns .btnFill{
  padding:7px 50px;
}
.btns .btnFill, .btns .btnOutline:hover, .header button:hover {
  background-color: var(--theme);
  color: #fff;
}

/* toggle Switch */
.slider-container{
  position: relative;
  width:40px;
  height:20px;
  background-color: #dfdfdf;
  border-radius: 10px;
  overflow: hidden;
}
.slider-container .toggle-switch:after{
  content:'';
  position: absolute;
  width:17px;
  height:17px;
  border-radius: 50%;
  background-color: #fff;
  top:50%;
  transform: translateY(-50%);
  left:2px;
  z-index: 2;
}
.slider-container input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  z-index: 3;
}

.slider-container .toggle-switch{
  width:100%;
  height:100%;
  position: relative;
}

.slider-container input:checked + .toggle-switch{
  background-color: var(--theme);
}
.slider-container input:checked + .toggle-switch:after{
  left:51%;
}