@import "src/assets/styles/basecolor.scss";

.Register {
    .register-title {
        display: inline;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
    }

    .register-body {
        padding: 0 30px;
    }
    
    .no-account {
        text-align: center;
        span {
            display: inline-block; 
        }
        .login{
            a {
                color: $base-color;
                font-weight: 700;
                &:active{
                    color: $base-color;
                    font-weight: 700;
                }
            }
        }
    }
}
.form-controls {
    -webkit-text-size-adjust: 100%;
    font-family: Verdana,sans-serif;
    line-height: 1.5;
    color: #000;
    box-sizing: inherit;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 15px;
    input {
        outline: none;
        -webkit-text-size-adjust: 100%;
        box-sizing: inherit;
        font: inherit;
        margin: 0;
        overflow: visible;
        padding: 8px;
        display: block;
        width: 100%;
        border: 1px solid #ccc;
    }
}
